<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alta Mesas
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ABM Mesa -->
<ion-content>
  <form class="formGral" [(formGroup)]="formMesas" (submit)="agregarMesas()">

     <!-- IMAGEN DE FONDO -->
     <div class="body"></div>

    <ion-list>

      <span>
        <input [(ngModel)]="nromesa" class="swing" formControlName="nromesaCtrl" type="number"
          name="nromesa"><label>Nro.Mesa</label>
      </span>

      <span>
        <input [(ngModel)]="cantcomen" class="swing" formControlName="cantcomenCtrl" type="number"
          name="cantcomen"><label>Nro.Personas</label>
      </span>

<!-- 
      <span>
      <input [(ngModel)]="tmesa" class="swing" formControlName="tmesaCtrl" type="text"
          name="tmesa"><label>T.Mesa</label>
      </span> -->
   
        <!-- <label>Seleccione tipo de mesa </label> -->
        <ion-select [(ngModel)]="tmesa" formControlName="tmesaCtrl"  class="round" placeholder="Tipo">

         <ion-select-option value="VIP">VIP</ion-select-option>
         <ion-select-option value="DISCAPACITADOS">Discapacitados</ion-select-option>
         <ion-select-option value="NORMAL">Normal</ion-select-option>
       </ion-select>
    


      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>

     <div class="botones">
      <ion-button type="button" shape="round" color="secondary" fill="solid" [disabled]="cantidadFotos >= 1" (click)="tomarFoto()">Agregar foto
      </ion-button>
      <ion-button type="submit" expand="block" color="primary" fill="solid">Agregar
      </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>