<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cierre de Mesa
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="spinner" padding class="spinnerCenter">
  <ion-spinner *ngIf="spinner" name="bubbles" color="dark"></ion-spinner>
</ion-content>

<!-- content si existe pedido en local -->
<ion-content *ngIf="!spinner">
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Estire para actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="hayPedidosACerrar">
    <ion-item *ngFor="let pedido of pedidos">
      Cierre Mesa: {{pedido.mesa}}
      <ion-button slot="end" color="primary" expand="block" (click)="cerrarPedido(pedido)">Cerrar Mesa
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!hayPedidosACerrar">
    <ion-card-content>
      No hay Pedidos para cerrar.
    </ion-card-content>
  </ion-card>
</ion-content>