<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alta Dueño/Supervisor
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png" alt="" srcset="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  [(formGroup)]="formDueSup" (submit)="agregarDueSup()">
      <!-- IMAGEN DE FONDO -->
      <div class="body"></div>

      <ion-list>
          <span>
            <input  [(ngModel)]="nombre" class="balloon" formControlName="nombreCtrl" type="text" name="nombre">
            <label>Nombre</label>
          </span>
        
          <span>
            <input  [(ngModel)]="apellido" class="balloon" formControlName="apellidoCtrl" type="text" name="apellido">
            <label>Apellido</label>
          </span>
       
          <span>
            <input  [(ngModel)]="DNI" class="balloon" formControlName="DNICtrl" type="number" name="DNI">
            <label>DNI</label>
          </span>

          <span>
            <input [(ngModel)]="CUIL" class="balloon" formControlName="CUILCtrl" type="number" name="CUIL">
            <label>CUIL</label>
          </span>
        

          <ion-select [(ngModel)]="perfil" class="round" formControlName="perfilCtrl" placeholder="Seleccione perfil" >
            <ion-select-option value="dueño" checked>Dueño</ion-select-option>
            <ion-select-option value="supervisor">Supervisor</ion-select-option>
          </ion-select>
              
      
          <ion-slides>
            <ion-slide *ngFor="let foto of captureDataUrl">
              <img class="vistaprevia" [src]="foto" *ngIf="captureDataUrl" />
            </ion-slide>
          </ion-slides>
      
     
          <div class="botones">
            <ion-button  slot="start"  shape="round"  color="medium"  [disabled]="cantidadFotos >= 3" (click)="tomarFoto()">Agregar foto  
                <ion-icon  name="image"></ion-icon>
            </ion-button>

            <ion-button  slot="end"  shape="round"  color="medium" (click)="doScan()">Cargar desde DNI
                <ion-icon name="copy"></ion-icon>
            </ion-button>

            <ion-button type="submit"  expand="block"  color="dark"  [disabled]="!formDueSup.valid">Agregar
            </ion-button> 
          </div>
      </ion-list>
  
  </form>

</ion-content>