

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);




#iconToolBar {
  width: 50px;
  // margin: 10px 0 5px 0;
}

//PONE LA IMAGEN DE FONDO Y LA BLUREA
.body{
	position: absolute;
	top: 0px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
  background-image: url("../../assets/imgs/corporative.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

//EFECTO INPUTS

.balloon {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #a2b9bc;
  background: #efefef;
  border: 2px solid;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: #032429;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgba(122,184,147,0);
    
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      margin-left: -3px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(122,184,147,0);
      transition: all .3s ease-in-out;
    }
  }
}
.balloon:focus,
.balloon:active {
  color: #a2b9bc;
  text-indent: 0;
  background: #fff;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #a2b9bc;
    transform: translateY(-40px);
    
    &:after {
      border-top: 4px solid #a2b9bc;
    }
  }
}

span {
  
  position: relative;
  display: inline-block;
  margin: 30px 10px;
  margin-top: 10%;
}

//CLASES 
.round{ 
  font-family: "Open Sans", sans-serif;
  border-radius: 20px !important; 
  text-align: center;
  width: 90%;
  margin-left: 5%;
  background-color: #efefef;
  border: 2px solid #a2b9bc;
  border-radius: 3px;

  } 

  .botones{
    padding: 10%;
  }

  .vistaprevia{
    margin-top: 10%;
    border: 2px solid #a2b9bc;
    border-radius: 3px;

  }

//COMPONENTES IONIC

ion-list{
  background: transparent;
  text-align: center;
 

}


  
