<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Espera
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="esMozo">
  <ion-list *ngIf="hayCliente">
    <ion-item *ngFor="let cliente of clientes">
      {{cliente.correo}}
      <div slot="end">
        <ion-button size="small" color="primary" (click)="confirmarCliente(cliente.correo)">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" (click)="rechazarCliente(cliente.correo)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!hayCliente">
    <ion-card-content>
      No hay clientes para confirmar.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!esMozo">
  <ion-list *ngIf="hayCliente">
    <ion-item *ngFor="let cliente of clientes">
      {{cliente.correo}}
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!hayCliente">
    <ion-card-content>
      No hay clientes en lista de espera.
    </ion-card-content>
  </ion-card>
</ion-content>