<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Confirmar delivery
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="perfil == 'dueño' || perfil == 'supervisor'">
    <ion-item *ngFor="let pedido of pedidosAConfirmar">
      Cliente: {{pedido.cliente}} - Dirección: {{pedido.direccion}}
      <div class="item-note" slot="end">
        <ion-button size="small" (click)="confirmarPedido(pedido.cliente)">Confirmar</ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="perfil == 'delivery'">
    <ion-item *ngFor="let pedido of pedidosAEntregar">
      Cliente: {{pedido.cliente}} - Dirección: {{pedido.direccion}}
      <div class="item-note" slot="end">
        <ion-button size="small" (click)="verRuta(pedido.id)">Ver ruta</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>