<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Confirmar delivery
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="perfil == 'dueño' || perfil == 'supervisor'">
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Estire para actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="hayPedidosAConfirmar">
    <ion-item *ngFor="let pedido of pedidosAConfirmar">
      Cliente: {{pedido.cliente}} - Dirección: {{pedido.direccion}}
      <div slot="end">
        <ion-button size="small" color="primary" (click)="confirmarPedido(pedido.cliente)">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" (click)="rechazarPedido(pedido.cliente)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!hayPedidosAConfirmar">
    <ion-card-content>
      No hay pedidos de delivery para confirmar.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="perfil == 'delivery'">
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Estire para actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="hayPedidosAEntregar">
    <ion-item *ngFor="let pedido of pedidosAEntregar">
      Cliente: {{pedido.cliente}} - Dirección: {{pedido.direccion}}
      <div class="item-note" slot="end">
        <ion-button size="small" (click)="verRuta(pedido.id)">Ver ruta</ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!hayPedidosAEntregar">
    <ion-card-content>
      No hay pedidos de delivery para entregar.
    </ion-card-content>
  </ion-card>
</ion-content>