<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
        <ion-button color="light" size="small" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    

      <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Detalles</ion-card-subtitle> -->
            <ion-card-title>Detalles</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list class="round">
             

              <ion-item class="round">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [(ngModel)]="nombre" type="text" name="nombre" ngDefaultControl ></ion-input>
              </ion-item>

              <ion-item class="round">
                <ion-label position="floating" name="apellido">Apellido</ion-label>
                <ion-input [(ngModel)]="apellido" type="text" name="apellido" ngDefaultControl ></ion-input>
              </ion-item>

              <ion-item class="round">
                <ion-label [(ngModel)]="labelD" position="floating" name="labelD" ngDefaultControl >{{labelD}}</ion-label>
                <ion-input [(ngModel)]="dataCambia" type="text" name="dataCambia" ngDefaultControl ></ion-input>
              </ion-item>

              <ion-item class="round">
                <ion-label position="floating">DNI</ion-label>
                <ion-input [(ngModel)]="dni" type="text" name="dni" ngDefaultControl ></ion-input>
              </ion-item> 
                <ion-item class="round">             
                  <ion-label position="stacked">Calidad</ion-label>             
                  <ion-range [(ngModel)]="calidad" min="1" max="10" snaps="true" ticks="false" pin="true" color="warning"  [ngModelOptions]="{standalone: true}" ngDefaultControl >
                    <ion-icon size="small" slot="start" name="star-outline"></ion-icon>
                    <ion-icon slot="end" name="star"></ion-icon>
                  </ion-range>
                  <ion-label position="floating">Comentarios</ion-label>
                  <ion-textarea [(ngModel)]="comentario" placeholder="Ingrese comentario aqui..."[ngModelOptions]="{standalone: true}" ngDefaultControl ></ion-textarea>
              
                </ion-item>
                  <ion-button expand="block" color="dark" (click)="guardar()">Guardar</ion-button>
                </ion-list> 
             
          </ion-card-content>
        </ion-card>

       


</ion-content>
