<ion-header>
  <ion-toolbar>
    <ion-title>abm-cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Anónimo</ion-label>
    <ion-toggle color="primary" [(ngModel)]="esAnonimo" [ngModelOptions]="{standalone: true}"></ion-toggle>
  </ion-item>
  <div id="formularioAnonimo" *ngIf="esAnonimo">
    <form [formGroup]="formClienteAnonimo" (submit)="agregarCliente()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombreAnonimo" type="text" name="nombre"></ion-input>
      </ion-item>
      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>
      <ion-button type="button" shape="round" color="secondary" [disabled]="cantidadFotos >= 1" (click)="tomarFoto()">
        Agregar foto</ion-button>
      <ion-button type="button" shape="round" color="secondary" (click)="doScan()">Cargar desde DNI</ion-button>
      <ion-button type="submit" expand="block" color="primary" [disabled]="!formClienteAnonimo.valid || !hayFotos">
        Agregar
      </ion-button>
    </form>
  </div>
  <div id="formularioRegistrado" *ngIf="!esAnonimo">
    <form [formGroup]="formClienteRegistrado" (submit)="agregarCliente()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombreRegistrado" type="text" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellidoRegistrado" type="text" name="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DNI</ion-label>
          <ion-input formControlName="dniRegistrado" type="number" name="dni"></ion-input>
        </ion-item>
      </ion-list>
      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>
      <ion-button type="button" shape="round" color="secondary" [disabled]="cantidadFotos >= 1" (click)="tomarFoto()">
        Agregar foto</ion-button>
      <ion-button type="button" shape="round" color="secondary" (click)="doScan()">Cargar desde DNI</ion-button>
      <ion-button type="submit" expand="block" color="primary" [disabled]="!formClienteRegistrado.valid || !hayFotos">
        Agregar
      </ion-button>
    </form>
  </div>
</ion-content>