<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Estadísticas de satisfacción
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>
       Orden General
    </ion-card-header>
    <ion-card-content>
      <canvas #canvasOrdenGeneral></canvas>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      Aptitudes destacadas
    </ion-card-header>
    <ion-card-content>
      <canvas #canvasDestacado></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Índice de felicidad
    </ion-card-header>
    <ion-card-content>
      <canvas #canvasRecomienda></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Limpieza general
    </ion-card-header>
    <ion-card-content>
      <canvas #canvasLimpieza></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>