.welcome-card ion-img {
    max-height: 20%;
    overflow: hidden;
  }
  
  .lindas 
  {
      // background-image:url("../../assets/icon/yes.png") !important;
      background-repeat:no-repeat;
      background-size:cover;
      overflow:hidden;
      // opacity: 0.6;
  }
  
  // .feas 
  // {
  
  //     background-image:url("../../assets/icon/not.png") !important;
  //     background-repeat:no-repeat;
  //     background-size:cover;
  //     overflow:hidden;
  //     // opacity: 0.6;
  
  // }
  
  // ion-grid, ion-row, ion-col{
  //   height: 100%;
  //   // margin-top: 2px;
  // }
  // ion-card{
  //   height: 40%;
  // }
  