<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pedidos Pendientes
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner *ngIf="spinner" name="bubbles" color="dark"></ion-spinner>
  <ion-list *ngIf="!spinner">
      <ion-item class="item-text-wrap card" *ngFor="let pedido of pedidosMostrarFil; index as i">
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card class="lindas" expand="full">
            <ion-card-header color="primary" > <b>ID PEDIDO: {{pedido.id_pedido}} <br> <b>NRO FILA: {{i+1}}</b><br></b></ion-card-header>
            <ion-card-content style="color: black; font-weight: bolder; font-size: xx-large;    
            ">
              {{pedido.cantidad}}
              {{pedido.producto}}

              <div class="item-note" slot="end">
                  <!-- CREADO -->
                  <ion-button *ngIf="pedido.estado == 'creado' " color="danger" size="small" (click)="prepararPedido( pedido )">Preparar</ion-button>
                  <!-- EN PREPARACION -->
                  <ion-button *ngIf="pedido.estado == 'preparacion' " color="warning" size="small" (click)="FinalizarPedido( pedido.id_pedido )">En Preparación</ion-button>
                  <!-- FINALIZADO ESPERANDO PEDIDOS -->
                  <ion-button *ngIf="pedido.estado == 'finalizado' " color="success" size="small">Finalizado</ion-button>
                </div>
            </ion-card-content>
          </ion-card>

         
        
        </ion-col>

      
    </ion-item>
  </ion-list>
</ion-content>
