<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
	<div class="logoPresentacion">
		<img src="../../assets/imgs/icon2.png">
	</div>
	<div class="contenedorPresentacion">
		<div>COMIRADIX</div>
		<div>PRACTICA PROFESIONAL</div>
		<div>SUPERVISADA 4A</div>
	</div>
</div>

<div class="form-structor" [style.display]=" splash ? 'none' : 'block' ">
	<div *ngIf="tipoUsuario == ''">
		<div class="signup">
			<h2 class="form-title">Comiradix</h2>
			<button class="submit-btn" (click)="cargarTipoUsuario('empleado')">EMPLEADO</button>
			<button class="submit-btn" (click)="cargarTipoUsuario('cliente')">CLIENTE</button>
		</div>
	</div>

	<div *ngIf="tipoUsuario != ''">
		<div class="signup" *ngIf="spinner">
			<ion-spinner name="bubbles" color="light"></ion-spinner>
		</div>
		<div class="signup" *ngIf="!spinner">
			<h2 class="form-title">Comiradix</h2>
			<div class="form-holder">
				<input type="email" class="input" [(ngModel)]="cuenta.usuario" placeholder="Usuario" />
				<input type="password" class="input" [(ngModel)]="cuenta.password" placeholder="Contraseña" />
			</div>
		
			<button class="submit-btn" (click)="login()">ENTRAR</button>
			<button *ngIf="tipoUsuario == 'cliente'" expand="block" class="submit-btn-acceso" fill="outline" (click)="altaCliente()">REGISTRARSE</button>
			<button *ngIf="tipoUsuario == 'cliente'" class="submit-btn" (click)="loginAnonimo()">ANÓNIMO</button>
			<button *ngIf="tipoUsuario != 'cliente'" expand="block" class="submit-btn-acceso" fill="outline" (click)="creoSheet()">Acc.Rápido</button>
			<button *ngIf="tipoUsuario != ''" expand="block" class="submit-btn-acceso" fill="outline" (click)="vuelvoSeleccion()">Volver</button>
		</div>
	</div>
</div>