#mapa {
    height: 40%;
    width: 100%;
    display: block;
}

#listaProductos {
    height: 30%;
    overflow-y: scroll;
    padding: 30px;
}

img {
    height: 30%;
    width: 30%;
    margin: auto;
    float: left;
}