<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <img id="iconToolBar" src="../../assets/imgs/icon.png">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="body"></div>
  
      <!-- <div class="inner"> -->
             <!-- </div> -->


      <ion-card class="card" >
          
        
          <ion-card-content>
              <h1>Radix</h1>
              <p>Bienvenido a nuestra app.</p>
          </ion-card-content>
        </ion-card>

  
</ion-content>