
#iconToolBar {
	width: 50px;
}

//AGREGADO

@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");


//PONE LA IMAGEN DE FONDO Y LA BLUREA
.body{
	position: absolute;
	top: 0px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("../../assets/imgs/banner.jpg");
 	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}



/* Header */

	h1 {
		background-color: transparent;
		color: rgba(255, 255, 255, 0.75);
		font-size: 4em;
		padding: 0 0.5em 0.25em 0.5em;
		border-bottom: solid 2px #ffffff;
		font-weight: 200;
		font-family: "Pacifico", cursive;
		text-transform: none;
		letter-spacing: 0;

	}

	p {
		text-transform: uppercase;
		letter-spacing: 0.325rem;
		font-weight: 400;
		font-size: 0.8em;
		padding: 0 1.25em;
		color: darkgray;
	}

	.card{
		box-shadow: none !important;
		background-color: transparent;
		margin-top: 60%;

		text-align: center;
	
		
	}

	