@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

#iconToolBar {
  width: 50px;
}

//PONE LA IMAGEN DE FONDO Y LA BLUREA
.body{
	position: absolute;
	top: 0px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
  background: url("../../assets/altas/producto.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

//EFECTO INPUTS

.clean-slide {
    position: relative;
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px; // Arbitrary.
    transition: all .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 0;
      font-weight: 300;
    }
  
    + label {
      display: inline-block;
      position: absolute;
      transform: translateX(0);
      top: 0;
      left: 0;
      bottom: 0;
      padding: 13px 15px;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      color: #032429;
      text-align: left;
      text-shadow: 0 1px 0 rgba(255,255,255,.4);
      transition: all .3s ease-in-out, color .3s ease-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      overflow: hidden;
      
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 100%;
        background: #7AB893;
        z-index: -1;
        transform: translate(0);
        transition: all .3s ease-in-out;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
  .clean-slide:focus,
  .clean-slide:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    &::-webkit-input-placeholder {
      color: #aaa;
    }
    + label {
      color: #fff;
      text-shadow: 0 1px 0 rgba(19,74,70,.4);
      transform: translateX(-100%);
      
      &:after {
        transform: translate(100%);
      }
    }
  }
  
  
  


  span {
  
    position: relative;
    display: inline-block;
    margin: 30px 10px;
    margin-top: 10%;
  }
  
  //CLASES 
  .round{ 
    font-family: "Open Sans", sans-serif;
    border-radius: 20px !important; 
    text-align: center;
    width: 90%;
    margin-left: 5%;
    background-color: #efefef;
    border: 2px solid #a2b9bc;
    border-radius: 3px;
  
    } 
  
    .botones{
      padding: 10%;
      margin-top: 15%;
    }
  
    // .vistaprevia{
    //   margin-top: 10%;
    //   border: 2px solid #a2b9bc;
    //   border-radius: 3px;
  
    // }
  
  //COMPONENTES IONIC
  
  ion-list{
    background: transparent;
    text-align: center;
   
  
  }