<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alta Productos
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <form [formGroup]="formProducto" (submit)="agregarProducto()">
     
      <!-- IMAGEN DE FONDO -->
      <div class="body"></div>
      <ion-list>

        <span>
          <input [(ngModel)]="nombre" class="clean-slide" formControlName="nombreCtrl" type="text" name="nombre"><label>Nombre</label>
        </span>

        <span>
          <input [(ngModel)]="descripcion"  class="clean-slide" formControlName="descCtrl" type="text" name="descripcion"><label>Descrip.</label>
        </span>

        <span>
          <input [(ngModel)]="tiempo"  class="clean-slide"  formControlName="tiempoCtrl" type="number" name="tiempo"><label>Tiempo</label>
        </span>

        <span>
          <input [(ngModel)]="precio" class="clean-slide" formControlName="precioCtrl" type="number" name="precio"><label>Precio</label>
        </span>
      



      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>



      <div class="botones">

      <ion-button shape="round"  color="medium"  [disabled]="cantidadFotos >= 3" (click)="tomarFoto()">
        Agregar foto</ion-button>
      <ion-button type="submit" expand="block"  color="dark">Agregar</ion-button>
    </div>
  </ion-list>
    </form>
 
</ion-content>