ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner-cocinero {
    border-left: 8px solid var(--ion-color-medium);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

.category-banner-bartender {
    border-left: 8px solid var(--ion-color-primary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}