@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

ion-content {
    --background: whitesmoke;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner-cocinero {
    border-left: 8px solid var(--ion-color-medium);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

.tituloClase {font-family: 'Alfa Slab One', cursive;
}

.precioClase {
    font-family: 'Special Elite', cursive;
}

.cantidadPedido {
    font-family: 'Rancho', cursive;
    font-size: xx-large;
}

.category-banner-bartender {
    border-left: 8px solid var(--ion-color-primary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

ion-card-title {
    font-family: 'Anton', sans-serif;
}