<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alta Empleados
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ABM Empleados -->
<ion-content>
  <form class="formGral" [(formGroup)]="formEmpleado" (submit)="agregarEmpleado()">

    <ion-list class="row">
      <span>
        <input [(ngModel)]="nombre" class="swing" formControlName="nombreCtrl" type="text"
          name="nombre"><label>Nombre</label>
      </span>
   
      <span>
        <input [(ngModel)]="apellido" class="swing" formControlName="apellidoCtrl" type="text"
          name="apellido"><label>Apellido</label>
      </span>

      <span>
        <input [(ngModel)]="dni" class="swing" formControlName="dniCtrl" type="number" name="dni"><label>DNI</label>
      </span>

      <span>
        <input [(ngModel)]="cuil" class="swing" formControlName="cuilCtrl" type="number" name="cuil"><label>CUIL</label>
      </span>

      <span>
        <input [(ngModel)]="templeado" class="swing" formControlName="templeadoCtrl" type="text"
          name="tEmpleado"><label>T.Empleado</label>
      </span>

      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>

      <ion-button type="button" shape="round" color="secondary" fill="outline" (click)="tomarFoto()">Agregar foto
      </ion-button>
      <ion-button type="button" shape="round" fill="outline" color="secondary" (click)="doScan()">Cargar desde DNI</ion-button>
      <ion-button type="submit" expand="block" color="primary" fill="outline" [disabled]="!formEmpleado.valid">Agregar
      </ion-button>
    </ion-list>
  </form>
</ion-content>