<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alta Empleados
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ABM Empleados -->
<ion-content class="fondoContent">
  <form class="formGral" [(formGroup)]="formEmpleado" (submit)="agregarEmpleado()">

    <ion-list class="row">
      <span>
        <input [(ngModel)]="nombre" class="card-slide" formControlName="nombreCtrl" type="text" name="nombre"><label>Nombre</label>
      </span>
      <span>
        <input [(ngModel)]="apellido" class="card-slide" formControlName="apellidoCtrl" type="text" name="apellido"><label>Apellido</label>
      </span>
      <span>
        <input [(ngModel)]="dni" class="card-slide" formControlName="dniCtrl" type="number" name="dni"><label>DNI</label>
      </span>
      <span>
        <input [(ngModel)]="cuil" class="card-slide" formControlName="cuilCtrl" type="number" name="cuil"><label>CUIL</label>
      </span>
      <br>
      <ion-list class="round" >

           <ion-select [(ngModel)]="templeado" formControlName="templeadoCtrl"  class="round" placeholder="Tipo de Empleado">

            <ion-select-option value="cocinero">Cocinero</ion-select-option>
            <ion-select-option value="bartender">Bartender</ion-select-option>
            <ion-select-option value="mozo">Mozo</ion-select-option>
            <ion-select-option value="delivery">Delivery</ion-select-option>
          </ion-select>
       </ion-list>
       <span></span>

      <ion-slides>
        <ion-slide *ngFor="let foto of captureDataUrl">
          <img [src]="foto" *ngIf="captureDataUrl" />
        </ion-slide>
      </ion-slides>

      <br>

      <ion-button type="button" shape="round" color="secondary" fill="solid" (click)="tomarFoto()">Agregar foto
      </ion-button>
      <ion-button type="button" shape="round" fill="solid" color="secondary" (click)="doScan()">Cargar desde DNI</ion-button>
    <br>
      <ion-button type="submit" expand="block" color="primary" fill="solid" [disabled]="!formEmpleado.valid">Agregar
      </ion-button>
    </ion-list>
  </form>
</ion-content>