@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.welcome-card ion-img {
    max-height: 20%;
    overflow: hidden;
  }
  
  .lindas 
  {
      // background-image:url("../../assets/icon/yes.png") !important;
      background-repeat:no-repeat;
      background-size:cover;
      overflow:hidden;
      text-align: center;
     
      // opacity: 0.6;
  }

  .cardContent
  {
    font-family: 'Anton', sans-serif;
  }
  
// ion-spinner {
// 	transform: scale(3);
// }

.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
}
  
  // .feas 
  // {
  
  //     background-image:url("../../assets/icon/not.png") !important;
  //     background-repeat:no-repeat;
  //     background-size:cover;
  //     overflow:hidden;
  //     // opacity: 0.6;
  
  // }
  
  // ion-grid, ion-row, ion-col{
  //   height: 100%;
  //   // margin-top: 2px;
  // }
  // ion-card{
  //   height: 40%;
  // }
  