<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Encuesta Supervisor
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
    <ion-label color="light">Empleados</ion-label>
    </ion-item>
    <ion-grid shape="round" *ngFor="let empleado of empleados">
        
        
          <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
          <ion-row>
            <ion-col shape="round">
              <ion-item class="round" (click)="muestraModal(empleado.key,'empleado')" >
              {{empleado.nombre}} {{empleado.apellido}}
              </ion-item>
            </ion-col>
          </ion-row>
         
          
          <!-- <div class="item-note" slot="end"> -->
            <!-- <ion-button size="small" (click)="confirmarCliente(cliente.correo)">Confirmar</ion-button> -->
          <!-- </div> -->
       
      </ion-grid>

      <ion-item>
          <ion-label color="light">Clientes</ion-label>
          </ion-item>
          <ion-grid shape="round" *ngFor="let cliente of clientes">
              
              
                <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
                <ion-row>
                  <ion-col shape="round">
                    <ion-item class="round" (click)="muestraModal(cliente.key,'cliente')" >
                    {{cliente.nombre}} {{cliente.apellido}}
                    </ion-item>
                  </ion-col>
                </ion-row>
               
                
                <!-- <div class="item-note" slot="end"> -->
                  <!-- <ion-button size="small" (click)="confirmarCliente(cliente.correo)">Confirmar</ion-button> -->
                <!-- </div> -->
             
            </ion-grid>

 
</ion-content>