<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Escanear Propina
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/qrReader.png" id="qrimg">
  <ion-button class="botonEscanear" color="dark" expand="block" (click)="doScan()">Escanear</ion-button>
  <!-- <div *ngIf="datosEscaneados && parsedEscaneados">
    <ion-label>datos escaneados: {{datosEscaneados}}</ion-label>
    <ion-label>datos escaneados parseados: {{parsedEscaneados}}</ion-label>
    <ion-label>mesa: {{parsedEscaneados.mesa}}</ion-label>
    <ion-label>mesa parseada: {{parsedEscaneados.mesa}}</ion-label>
  </div> -->
</ion-content>