@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


#qrimg{
    height: 80%;
    width: 80%;
    padding: 10%;
    margin-left: 11%;
}

.botonEscanear{
    font-family: 'Quicksand', sans-serif;
    font-size: 206%;
    height: 9.5%;
}