<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Escanear Propina
    </ion-title>
    <ion-buttons slot="end">
      <img id="iconToolBar" src="../../assets/imgs/icon.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="existePedido">
  <ion-list>
    <ion-item *ngFor="let producto of pedidoDetalle">
      ({{ producto.cantidad }}) {{ producto.producto }}
      <div class="item-note" slot="end">
        ${{ producto.cantidad * producto.precio }}
      </div>
    </ion-item>
    <ion-item *ngIf="pedidoCliente.juegoDescuento">
      Descuento del 10%
      <div class="item-note" slot="end">
        - ${{ preciototalAnterior * 10 / 100 }}
      </div>
    </ion-item>
    <ion-item *ngIf="pedidoCliente.juegoBebida">
      Descuento en bebida
      <div class="item-note" slot="end">
        - ${{ precioBebidaMasBarata }}
      </div>
    </ion-item>
    <ion-item *ngIf="pedidoCliente.juegoComida">
      Descuento en comida
      <div class="item-note" slot="end">
        - ${{ precioComidaMasBarata }}
      </div>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        PRECIO FINAL: ${{pedidoCliente.preciototal}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-button class="botonEscanear" color="dark" expand="block" (click)="doScan()">Propina</ion-button>
</ion-content>

<ion-content *ngIf="!existePedido">
    <ion-card>
      <ion-card-content>
        Aún no le han entregado el pedido.
      </ion-card-content>
    </ion-card>
  </ion-content>
  